<div class="container-fluid">
    <main>
      <app-header>
        <a routerLink="/client" routerLinkActive="active-link">Client</a>
        <a routerLink="/home" routerLinkActive="active-link">Home</a>
        <!-- <button type="submit">Google</button> -->
        <div class="test">
          <button type="submit">Google</button>
          <button type="submit">Google 1</button>
          <button type="submit">Google 2</button>
        </div>

        <div close>
          Cerrar Sesión
        </div>
      </app-header>
      <router-outlet></router-outlet>
    </main>
</div>

